/* 自定义style */

/* 表格内容上下居中显示 */
.table > tbody > tr > td {
  vertical-align: middle;
}

/* Logo样式 */
.page-header.navbar .page-logo .logo-default {
  margin: 18px 10px 0 10px;
  width: 99px;
  height: 40px;
}
